.autorizeSection{
  display: flex;
  flex-direction: column;
  width: 40%;
float: left;
padding: 20px;
}
.wrapper{
 
  background: rgb(254, 245, 245);
  padding: 20px;
}
.showSection{
  width: 40%;
  float: right;
  padding: 20px;
}
.topRow{
display: flex;
justify-content:space-around;
}
h3{
  display: flex;
  flex-direction: row;
}
#btnEditUser{
  display: none;
}
#btnAddUser{
  display: block;
}
.topRow{
  display: flex;
  flex-direction: column;
}

button{
  width: 80px;
  height: 30px;
 border-radius: 5px;
}

#btnAddUser{
border: 1px solid green;
background-color: white;
color:green;
margin-top: 10px;
}
#btnAddUser:active{
  background-color:green;
}
#btnEditUser{
  border: 1px solid green;
  background-color: white;
  color:green;
  margin-top: 10px;
}
#btnEditUser:active{
  background-color:green;
}
.btnDelete{
  color: white;
  background-color: rgb(208, 50, 60);
}

.btnEdit{
  color: black;
  background-color: rgb(218, 178, 19);
}